*{
  margin : 0;
  padding :0;
  background:whitesmoke;
  color:white;
  text-align:center;
}
input{
align-self: center;
width:25%;
height:30px;
size:25px;
border-radius: 20px;
border:solid 0px;
outline:none;
padding-left:10px;
  background:rgb(100, 100, 100);
  text-align: left;

}

.chats
{
  width:500px;
  margin-left:500px;
  margin-top:50px;
  height:500px;
  overflow: scroll;
 
 

}
li{
  text-align: left;
  text-decoration: none;
  height:35px;
  max-width: 100px;
  min-width: 30px;
  margin-bottom:2px;
  background-color:red;
 
  display:block;
  
}
ul{
  text-decoration: none;
  list-style-type:none;
}
button{
 
  background-color: green;
  width:30px;
  height:30px;
  border:1px solid;
}
